---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/sections/Header.astro";
import HeroLight from "@/components/sections/HeroLight.astro";
import Services from "@/components/sections/Services.astro";
import Projects from "@/components/sections/Projects.astro";
import Testimonials from "@/components/sections/Testimonials.astro";
import Contact from "@/components/sections/Contact.astro";
import Footer from "@/components/sections/Footer.astro";
---

<Layout>
  <Header variant="light" />
  <main>
    <HeroLight />
    <Services />
    <Projects />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
